<h1>Login Page</h1>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="username" id="">
    <input type="password" name="username" placeholder="password" id="">
    <button type="submit">Login</button>
</form> 